@model TimeTracker.Models.Working

@{
    ViewData["Title"] = "Finish";
}

<h1>Finish</h1>

<h4>Working</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Finish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="StartTime" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
            <input type="hidden" asp-for="TaskId"></input>
            <span asp-validation-for="TaskId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Changes" class="control-label"></label>
                <input asp-for="Changes" class="form-control" />
                <span asp-validation-for="Changes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Finish" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}